@import './../../../styles/variables';

.c-Plp__c-ProductContainer__c-ProductTile {
    padding: 10px 15px;
    border: 1px solid $neutral-17;
    margin-bottom: 4rem;
    cursor: pointer;

    &.c-Plp__c-ProductContainer__c-ProductTile--shadow {
        // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 4px 11px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

    .c-Plp__c-ProductContainer__c-ProductTile__image {
        margin-bottom: 0.7rem;
    }

    .c-Plp__c-ProductContainer__c-ProductTile__name {
        font-size: $small-font-size;
    }

    .btn__addToCart {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        padding: 7px;
        background-color: $add-to-cart-button-background-color;
        cursor: pointer;
        font-size: $smaller-font-size;
        font-weight: $bold-font-weight;
    }
    
    .btn__addToCart:hover {
        opacity: 0.7;
    }

    @media only screen and (min-width: 768px) {
        border: none;
        &:not(:last-child) {
            margin-right: 2em;
        }
    }
}
