@import './../../styles/variables';

.c-Cart {
    background: $neutral-12;
    font-family: $font-family;
    margin-top: $header-height;
    margin-bottom: 46px;
    // padding: 15px 10px;

    .c-Cart__mainContent {
        
    }
}
